/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    padding-top: 70px; /* Añadimos espacio superior para que el contenido no quede cubierto por el header */
}


/********************************************************************************************************************************/
/* Header */
header {
    background-color: #fff;
    padding: 12px;
    display: flex;
    justify-content: space-between; /* Mantiene el logo a la izquierda y el espacio para el nav */
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

/* Logo */
header .logo {
    display: flex;
    justify-content: flex-start; /* Alinea el logo a la izquierda */
    align-items: center;
    margin-left: 80px; /* Empuja el logo de Login/Register a la derecha, pero con un pequeño espacio */
}

header .logo img {
    width: 80px;
    height: auto;
}


/* Navegación */
nav {
    position: absolute; /* Lo mueve a un lugar independiente */
    left: 50%; /* Posiciona el nav en el centro horizontal del header */
    transform: translateX(-50%); /* Lo ajusta al centro exacto */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centra los elementos dentro de la lista */
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 50px;
}

nav ul li:first-child {
    margin-left: 0;
}


nav ul li a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600; 
    font-size: 16px;
    padding: 5px 0;
    display: inline-block;
    transition: color 0.3s ease;
    text-transform: uppercase;
    border-bottom: 2px solid transparent; /* Aquí el borde ya existe pero es invisible */

}

nav ul li a:hover {
    color: #5499c7;
}

/* Hover effect on nav items */
nav ul li a:focus, nav ul li a:hover {
    color: #5499c7;
    border-bottom: 2px solid #5499c7;
}




/* Menu hamburguesa */
.hamburger {
    position: absolute;
    right: 126px;  /* Ajusta la propiedad para moverlo más a la derecha del header *//****************************************************/
    top: 40%;  /* Centra la hamburguesa verticalmente respecto al header */
    transform: translateY(-50%);  /* Corrección para centrar completamente */
    height: 30px;
    width: 30px;
    padding: 20px;
    z-index: 1002;
    cursor: pointer;
    user-select: none;
}

/* Estilo de las capas de la hamburguesa */
._layer {
    background: #2c3e50;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger.is-active{
    background-color:none;
}
._layer{
	background:#2c3e50; 
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
}



.menuppal{
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    right: 50;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 50%;
    z-index: 1001;
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el tamaño */

}

.menuppal h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Cambio a Montserrat */
    color: #2c3e50;
    font-size: 3rem; /* Aumento de tamaño */
    line-height: 2.0em; /* Reducción de la altura de línea */
    font-weight: 700;
    text-transform: uppercase; /* Transformación de texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin-top: 80px; /* Reducción del margen superior */
    margin-bottom: 5px; /* Reducción del espacio debajo del título */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil al texto */
}

.menuppal p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
    font-size: 1.1rem;
    line-height: 2.0em; /* Reducción de la altura de línea */
    /* font-weight: bold; */
    margin-top: 0; /* Eliminación del margen superior */
    margin-bottom: -8px; /* Espacio entre párrafos */
}




.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    text-transform: none;
    font-weight: bold;
    margin-bottom: -8px; /* Espacio entre párrafos */
}

.menuppal ul li a {
    text-decoration: none;
    display: block; /* Hace que el enlace ocupe toda el área del li */
    font-size: 1.5rem; /* Igual que el resto de los elementos */
    line-height: 2.7em;
    height: 3em;
    text-transform: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
}

.menuppal ul li a:hover {
    text-decoration: none;
    color: #333;
}

/* Estilo para la sección de información de contacto */
.menuppal .contact-info {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
}

/* Estilo para los detalles de horario y ubicación */
.menuppal .contact-info p {
    font-size: 1rem;
    line-height: 1.8em;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
}

/* Estilo para el iframe (mapa) */
/* Estilo para el iframe (mapa) */
.menuppal iframe {
    width: 800px; /* Aumentamos el ancho */
    height: 400px; /* Aumentamos la altura */
    border: none; /* Elimina el borde del iframe */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 50px; /* Espacio por encima */
}
/* Asegura que todo el contenido sea visible en pantallas pequeñas */
@media (max-width: 768px) {
    .menuppal {
        width: 100%; /* El menú ocupa todo el ancho en pantallas pequeñas */
        transform: translate3d(0px, 0, 0); /* Muestra el menú sin animación de ocultamiento */
    }

    .menuppal h2 {
        font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    .menuppal p, .menuppal .contact-info p {
        font-size: 1.2rem; /* Ajusta el tamaño del texto */
    }

    .menuppal iframe {
        height: 180px; /* Ajusta la altura del mapa en pantallas pequeñas */
    }
}


/* Aplica el color a los iconos */
.menuppal ul li i, /* Si los iconos son <i> */
.menuppal ul li span, /* Si los iconos son <span> */
.menuppal ul li a { 
    color: #2c3e50; /* Color del icono */
}


/*Para saber en que pagina estoy*/
.nav-item.active {
    color: #5499c7;
    border-bottom: 2px solid #5499c7;
}




/************************************************************************************************************************************************************************************/

/* Estilos para la sección de Términos de Uso */
.terminos_uso {
    max-width: 900px;
    margin: 60px auto 40px;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif; /* Fuente principal */
    color: #2c3e50;
}

.terminos_uso h1 {
    font-family: 'Roboto', sans-serif; /* Cambia la fuente del título principal */
    font-size: 30px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #5499c7;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 30px;
}

.terminos_uso h2 {
    font-family: 'Lora', serif; /* Cambia la fuente de los subtítulos */
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #5499c7;
    border-left: 4px solid #5499c7;
    padding-left: 12px;
}

.terminos_uso p {
    font-family: 'Open Sans', sans-serif; /* Cambia la fuente del texto de párrafos */
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #333;
}

.terminos_uso strong {
    font-family: 'Poppins', sans-serif; /* Fuente destacada */
    color: #2c3e50;
}

/* Responsive */
@media (max-width: 768px) {
    .terminos_uso {
        padding: 0 15px;
    }

    .terminos_uso h1 {
        font-size: 2.5em;
    }

    .terminos_uso h2 {
        font-size: 1.5em;
    }

    .terminos_uso p {
        font-size: 1rem;
    }
}
